blinker==1.7.0
click==8.1.7
Flask==3.0.3
Flask-Scss==0.5
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==23.0.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==25.0
pyScss==1.4.0
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.30
typing_extensions==4.12.1
Werkzeug==3.0.3
wheel==0.45.1
